html{
    height:100%
}
body{
    height:100%;
    margin:0px;
    font-family:system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top{
    height:30%;
    background-color: #332d2d;
    display:flex;
    
    
    flex-direction:column;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-right:50px;
    margin-left:10px;
    padding-top:25px;
    padding-right:25px;
    padding-left:25px;
    padding-bottom:0px;
}
#logo{
    width:100px;
}
nav{
    display:flex;
    justify-content:space-between;
    width:33%;
}
nav div{
    padding:5px;
}
.navLink{
    text-decoration:none;
    color:#c4c4c4;
    font-size: 18px;
    text-shadow: black 0px 5px 5px;
}
.navLink:hover{
    color:#8c8c8c
}
#topRow{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100%;
}
#topCol{
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items:start;
    width:45%
}
#name{
    color:#e6e6e6;
    font-size:36px;
    margin:0px;
    font-weight:bold;
    text-shadow: black 0px 5px 5px;
}
#shortLine{
    width:20%;
    border: solid 2px #8a2727;
    margin-left:0px;
    margin-right:0px;
    box-shadow: black 0px 4px 5px;
}
#shortAbout{
    color:#e6e6e6;
    width:60%;
    margin:0px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-size:14px;
}
#moreAbout{
    text-decoration:underline;
    font-weight:bold;
    color:gold;
    font-size:18px;
    text-shadow: black 0px 5px 5px;
}
#portrait{
    width:25%
}

#bottom{
    min-height:70%;
    display:flex;
    justify-content: center;
    background-color: #1f1b1b;
    color:#e6e6e6;
}

.projectTitle{
    font-size:24px;
    text-shadow: black 0px 5px 5px;
    margin-right:10px;
    margin-left:10px;
    padding-top:4px;
    min-width:fit-content;
    text-align:center;
}

.slideNumber{
    font-size:16px;
    margin-bottom:0px;
    text-shadow: black 0px 5px 5px;
}

.projectLink{
    text-decoration:underline;
    font-weight:bold;
    color:gold;
    font-size:18px;
    text-shadow: black 0px 5px 5px;
    margin-top:20px;
    margin-bottom:20px;
}
.projectLink:hover{
    color:goldenrod
}
.projectImage{
    width:95%
}
.projectHeader{
    font-size:20px;
    align-self:start;
    margin-left:12.5%;
    text-decoration:underline;
    text-shadow: black 0px 5px 5px;
}
.projectDesc{
    font-size:16px;
    align-self:start;
    margin-left:12.5%;
    width:70%;
    padding-bottom:50px;
}
.project{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%
}
.projectMain{
    display:flex;
    flex-direction:column;
    align-items:center;
    border: solid 3px #8a2727;
    width:70%
}
.arrow{
    font-size:36px;
    font-weight:bold;
}
.arrow:hover{
    color:rgb(131, 131, 131)
}
#left{
    margin-left:10%
}
#right{
    margin-right:10%
}
.projectTop{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width:100%
}
@media(max-width: 768px){
    #logo{
        width:50px;
    }
    nav{
        width:auto
    }
    .navLink{
        font-size:14px;
    }
    header{
        justify-content:space-between;
        padding:0px;
        padding-right:10px;
        padding-left:10px;
        margin:0px;
    }
    #top{
        padding-top:10px;
        height:20%
    }
    #bottom{
        min-height:80%;
    }
    #name{
        font-size:24px;
    }
    .projectTitle{
        font-size:18px;
    }
    .arrow{
        font-size:24px;
    }
    .projectLink{
        font-size:14px;
    }
    .project{
        width:80%
    }
    .projectHeader{
        font-size:16px;
    }
    .projectDesc{
        font-size:14px;
    }
    .projectMain{
        width:90%
    }
}
